@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:ital,wght@0,900;1,700;1,900&family=Libre+Baskerville&family=Montserrat:wght@100;200;400&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300&family=Red+Hat+Display:wght@300;400;700&family=Sansita&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400;1,600&family=Source+Sans+Pro&display=swap');

.nav-h1 a{
    color: #4D6983;
}

.nav-h1 a:hover {
    color: #8ea5b7;
}

h2 {
    margin: 0 3em;
    color:#6A8495;
}


.profile-text {
    width: 70%;
    margin: auto;    
    /* border: 1px solid blue; */
    padding-bottom: 5%;
    padding-top: 3%;
    
}

.profile-text  p {
    font-size: large;
    line-height: 2em;
    text-align: left;
    margin: 3rem;
    padding-bottom: 1rem;
    /* border: 1px solid red; */
}

.additional-info {
    /* border: 1px solid green; */
    padding-bottom: 5%;
}

.profession {
    display: inline-flex;
    border-radius: 2em;
    /* border: 1px solid gray; */
    margin-left: 35px;
    padding: 0 10px;
    
}

.skills-title {
 
}
section .skill-container{
    height: 100%; /*deals overflow auto*/
    width: 90%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
    margin: 0 auto;
    margin-top: 40px;
    
}

section .skill-container .skill{
    /* border: 1px solid rgb(255, 0, 60); */
    width: 70%;
    text-align: center;
    padding:20px;
    height: 330px;
    overflow: hidden;
    /* margin:0 auto; */
    margin-right: 30px ;
}

section .skill-container .skill span{
    background-color: #96a4ae;
    color: white;
    border-radius: .3em;
    text-align: center;
    padding: 0 20px;
    line-height: 2em;
}


section .project {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(20rem, 1fr));
    /* background-color: black; */
    list-style-type: none;
    width: 90%;
    margin: 0 auto;
    text-align: right;
    /* grid-gap: 10px; */
    padding-bottom: 10%;
}


section .project > li {
    text-align: left;
    color:rgb(9, 9, 9);
    /* font-size: larger; */
    transition: all 2s ease;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    padding: 10px;
    margin-top: 30px;
      /* border: 1px solid rgb(255, 0, 60); */
}

section .project img{
    width: 100%;
    height: auto;
    padding: 5% 0;
}


section .project > li:hover{
    transform: scale(1.1);
}

.project .desc{
    /* border: 1px solid rgb(255, 0, 60); */
    align-items: center;
    margin-top: -10px;
    font-size: smaller;
}


.tech-stack {
    margin-top: 20px;
    /* border: 1px solid rgb(197, 193, 193); */
    display: inline-flex;
    /* vertical-align: top; */
    align-items: center;
    font-size: smaller;
    border-radius: 1.3em;
    padding: 0 10px;
    margin-left: -1em;
    
}


.tech-stack img {
    margin-top: 5px;
}

.tech-lang {
    margin-left: 5px;
}

#flask{
    width: 40px;
}

#python, #react {
    width: 20px;
}

#es ,  #postgres, #htmlcssjs, #mongodb {
    width: 80px;
}


#firebase , #spring, #frontend {
    width: 25px;
}

#json , #java , #mysql{
    width: 50px;
}

#bluej {
    width: 30px;
}

#spring , #firebase, #hibernate,  #eclipse {
    width: 70px;
}

#restapi, #express, #node {
    width: 60px;
}

#fullstack, #software, #data{
    width: 40px;
}
