@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.nav-logo {
    margin-left: 1rem;
    font-size: xx-large;
}

.nav-h1 a:hover {
    color: #9BAAAE;
}

h2 {
    margin: 0 2em;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    background-color: white;
    opacity: 90%;
}

.nav-items {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-links {
    display: flex;
    margin: auto 0 auto auto;
    font-size: smaller;
}

.nav-items > li > a:hover{
    color: #9BAAAE;
    text-decoration: underline;
}

.skills{
    width: 100%;
}

.profile-text p {
    padding-top: 10rem;
    font-size: 6.6vw;
    font-weight: 700;
    font-style: italic;
    letter-spacing: -2.5px;
    line-height: 99%;
    margin: 7rem 3rem;
    animation: article-load 300ms ease-in;
    /* font-size: clamp(3rem, 1rem + 6vw, 7vw); */
}

.profile-text .pronoun {
    font-size: large;
    position: absolute;
    top: -1rem;
    margin-left: 4rem;
    letter-spacing: 2px;
    line-height: 0;
    color: gray;
}

section .various-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    margin: 4rem 3rem;
    font-size: 1.5vw;
}

.various-skills button {
    width: 6rem;
    padding: 5px;
    background-color:rgb(227, 230, 231);
    border-radius: 2em;
    border: none;
    font-size: small;
}

.various-skills button:focus,
.various-skills button:active,
.various-skills button:hover {
    background-color: rgb(205, 209, 210);
    cursor: pointer;
}

.filterby:not(.show) {
    display: none;
}

.project-section {
    margin: 0 auto;
    width: 95%;
}

.project-section .project {
    margin: 0 -1rem;
    display: grid;
    gap: 2px;
    grid-template-columns:repeat(auto-fit, minmax(25rem, 1fr));
    list-style-type: none;
}

.capstone-li {
    height: 40%;
}

.project-section .project > li {
    text-align: left;
    color:rgb(9, 9, 9);
    margin-left: -0.6rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}

.project-section .project img{
    width: 95%;
    padding-top: 2rem;
}

#project-shot:hover {
    transform: scale(1.05);
}

.project .desc{
   margin-top: -1rem;
   margin-right: 1rem;
   font-size: smaller;
}

.tech-stacks {
    /* margin-top: 0.1em; */
    display: inline-flex;
    font-size: small;
}

#climatebase-desc {
    position: absolute;
    display: block;
    top: 34rem;
    padding: 0px;
    height: fit-content;
    width: 90%;
    font-size: small;
}

#sortbtn{
    width: 4rem;
    margin-left: auto;
    right: 0;
    border:1px solid rgb(188, 192, 193);  
    background-color: white;  
}

#sortbtn:hover, 
#sortbtn:active,
#sortbtn:focus {
    background-color: rgb(188, 192, 193);
}

@media screen and (max-width: 768px){
    .profile-text .pronoun {
        display: none;
    }

    nav {
        font-size: 60%;
    }

    .various-skills button {
        margin: 0 auto;
    }

    #climatebase-desc {
        display: none;
    }
}

@keyframes article-load {
    0% {
        transform: translateY(20px);
    }
}