@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.nav-logo {
    /* border: 1px solid black; */
    margin-left: 1rem;
}

.nav-h1 a:hover {
    color: #9BAAAE;
}

h2 {
    margin: 0 2em;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    opacity: 90%;
}

.nav-items {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}


.nav-items > li > a:hover{
    color: #9BAAAE;
    text-decoration: underline;
}

.profile-text p {
    margin-left: 3rem;
    padding-top: 8rem;
    margin-bottom: 5rem;
    font-size: 6vw;
    font-weight: 700;
    font-style: italic;
    letter-spacing: -2.5px;
    line-height: 99%;
    /* font-size: clamp(3rem, 1rem + 6vw, 7vw); */
}

.profile-text .liqing {
    font-size: large;
    position: absolute;
    top: 3rem;
    margin-left: 4rem;
    letter-spacing: 0px;
    line-height: 0;
    color: rgb(154, 151, 151);
}

.various-skills {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.various-skills button {
    width: 8rem;
    padding: 10px;
    background-color: rgb(223, 223, 223);
    border-radius: 2em;
    border: none;
}

.filter-container button:hover {
    background-color: #96a4ae;
}

.filter-container button:focus,
.filter-container button:active {
    background-color: #96a4ae;
}

.filterby:not(.show) {
    display: none;
}

section .project {
    display: grid;
    gap: 1rem;
    grid-template-columns:repeat(auto-fit, minmax(25rem, 1fr));
    list-style-type: none;
}

.capstone-li {
    height: 40%;
}

section .project > li {
    text-align: left;
    color:rgb(9, 9, 9);
    padding: 10px;
}

section .project img{
    width: 95%;
    padding-top: 2rem;
}

#project-shot:hover {
    transform: scale(1.05);
}

.demo-link {
    color: #8d9da1;
}

.demo-link:hover {
    color: #a9b3b5;
}

.frontend, .backend {
    color: #b2c9d0;
}

.project h3{
    font-size: 1.6vw;
    font-weight: 400;
}

.project .desc{
    font-size: 1.1vw;
}


.tech-stack {
    display: inline-flex;
}

@media screen and (max-width: 768px){
    .profile-text .liqing {
        top: 0;
    }

    .various-skills {
        width: 20%;
    }

    nav {
        font-size: 60%;
    }
}


#flask{
    width: 40px;
}

#python, #react{
    width: 20px;
}

#redux {
    width: 50px;
}

#ai, #es, #postgres, #htmlcssjs, #mongodb {
    width: 80px;
}

#firebase , #spring, #frontend {
    width: 25px;
}

#json , #java , #mysql{
    width: 50px;
}

#bluej {
    width: 30px;
}

#spring , #firebase, #hibernate,  #eclipse {
    width: 70px;
}

#restapi, #express, #node, #htmlcssjs2 {
    width: 60px;
}

#fullstack, #software, #data{
    width: 40px;
}

#heroku, #git {
    width: 30px;
    height: 30px;
    margin-bottom: -30px;
    margin-left: 10px;
}
