#firebase , #spring, #frontend {
    width: 25px;
}

#bluej {
    width: 30px;
    height: 30px;
    margin-bottom: -0.3rem;
    margin-right: 4px;
}

#fullstack, #flask, #software, #data {
    width: 40px;
}

#carbonapi {
    width: 45px;
}

#json, #redux {
    width: 50px;
}

#react{
    width: 50px;
    margin-bottom: -0.1rem;
}

#mysql {
    width: 55px;
    margin-bottom: 0.1rem;
}

#python, #restapi, #htmlcssjs2 {
    width: 60px;
}

#express{
    width: 65px;
    margin-bottom: 0.2rem;
}

#spring, #firebase, #hibernate,  #eclipse, #ai {
    width: 70px;
}

#htmlcssjs, #mongodb {
    width: 80px;
}

#heroku, #git {
    width: 30px;
    height: 30px;
    margin-bottom: -30px;
    margin-left: 10px;
}

#java {
    width: 50px; 
    height: 25px;
}

#googleapi {
    width: 50px;
    margin: -0.8rem;
    margin-bottom: -0.2rem;
}

#postgres {
    width: 80px;
    margin-bottom: -0.9rem;
    padding: 0;
}

#node {
    width: 60px;
    margin-bottom: 0.2rem;
    margin-left: 5px;

}

#jdbc {
    width: 45px;
    margin-bottom: -0.2rem;
    padding: 0;
}

#rds {
    width: 70px;
    margin-bottom: -1rem;
    padding-top: 0;
}

#es {
    width: 80px;
    margin-top: -2rem;
    padding: 2px;
}

