@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Red+Hat+Display:wght@300;400;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400;1,600&family=Source+Sans+Pro&display=swap');

html {
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: lighter;
}

h1{
    padding-top: 10%;
    text-align: center;
    font-family: 'Sansita', sans-serif;
    color:#6A8495;
}


h2, h3 {
    font-family: 'Sansita', sans-serif;
    
}

section h1 {
    font-family: 'Sansita', sans-serif;
}


a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #6b747a;
}


.nav-items {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    font-weight: bold;
    padding: 10px;
    
}

.nav-items > li {
    margin: 0 80px;
    font-weight: 400;
    font-size: 1.1rem;
}

.nav-items > li > a:hover{
    color: #9BAAAE;
    text-decoration: underline;
}

footer {
    background-color: #c2ccce;
    text-align: center;
    padding-bottom: 20px;
}

footer .contact {
    list-style-type: none;
    text-align: center;
}


footer .icons{
    width: 30px;
    height: 30px;
    opacity: 60%;
    
}

footer img:hover{
    opacity: 30%;
}

#email {
    padding: 10px;
    text-decoration: underline;
}

::selection{
    background-color:#9BAAAE;
}

#copyright {
    padding-top: 10px;
}