@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Red+Hat+Display:wght@300;400;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400;1,600&family=Source+Sans+Pro&display=swap');

html {
    font-family: "Poppins",sans-serif;
    font-weight: lighter;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #6b747a;
}

footer {
    background-color: #c2ccce;
    text-align: center;
    padding: 20px;
}

footer h1{
    padding: 20px;
}

#email {
    padding: 10px;
    text-decoration: underline;
    font-size: larger;
}

::selection{
    background-color:#606d70;
}

#copyright {
    margin-top: 50px;
}